@import url('../core/reset.css');
@import url('../components/header.css');
@import url('../core/variables.css');
@import url('../components/tabla.css');
@import url('../components/buttons.css');

/* Título */
.titulo {
    font-size: 1.8rem;
    color: var(--primario);
    margin-bottom: 20px;
}


