@import url('../core/reset.css');
@import url('../components/header.css');
@import url('../core/variables.css');
@import url('../components/historial.css');

.titulo {
    color: var(--primario);
    font-size: 1.8rem;
    margin-bottom: 25px;
}


