@import url(styles\components\buttons.css);
@import url(styles\core\variables.css);
@import url(styles\components\cards.css);
@import url(styles\core\reset.css);
@import url(styles\components\header.css);

/* Contenido */
.contenedor {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.bienvenida {
    font-size: 2rem;
    color: var(--primario);
    margin-bottom: 30px;
}


