@import url('../core/variables.css');

/* Botón formulario */
.form-submit {
    display: block;
    text-align: center;
    background: var(--primario);
    color: var(--blanco);
    padding: 12px;
    width: 93%;
    border-radius: 8px;
    font-size: 1.1rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.form-submit:hover {
    background: var(--primario-hover);
}

/* quitar el marco azul */
.form-submit:focus,
.form-submit:active {
    outline: none;
}


/* Botones de Busqueda de pacientes */
.btn-primario {
    padding: 12px 18px;
    margin: 0;
    background: var(--primario);
    color: var(--blanco);
    border-radius: 8px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn-primario:hover {
    background: var(--primario-hover);
}

/* Botón secundario */
.btn-secundario {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 14px;
    background: var(--secundario);
    color: var(--blanco);
    text-decoration: none;
    border-radius: 6px;
}

.btn-secundario:hover {
    background: var(--primario);
}

/* Botón principal cita-detalle */
.btn-primario-detalle {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 18px;
    background: var(--primario);
    color: var(--blanco);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

.btn-primario-detalle:hover {
    background: var(--primario-hover);
}

/* Boton tabla citas */
.btn-tabla {
    display: inline-block;
    padding: 8px 14px;
    background: var(--secundario);
    color: var(--blanco);
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}

.btn-tabla:hover {
    background: var(--primario);
}