/* Header Principal */
.header {
    background: $primario;
    color: $blanco;
    padding: 18px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    margin: 0;
}

.nav a {
    color: $blanco;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.nav a:hover {
    cursor: pointer;
}

/* Resto del layout */
* {
    margin: 0;
    font-family: $fuente-principal;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $letra;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.bienvenida {
    font-size: 2rem;
    color: $primario;
    margin-bottom: 30px;
}

.cards-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}
