@import url('pages/login.css');
@import url('pages/home.css');
@import url('pages/citas.css');
@import url('pages/cita-detalle.css');
@import url('pages/historia.css');
@import url('pages/busqueda.css');